@page "/characterdetail"
@using NovelWritingApp.Shared.Models
@using NovelWritingApp.Shared.Utilities
@inject CharacterService CharacterService

<div class="character-detail">
    @if (SelectedCharacter != null)
    {
        <h2>@SelectedCharacter.Name</h2>
        <textarea @bind="SelectedCharacter.Description"></textarea>
        <textarea @bind="SelectedCharacter.Motivations"></textarea>
        <textarea @bind="SelectedCharacter.CharSynopsis"></textarea>
        <button class="btn" @onclick="SaveCharacterDetails">Save</button>
    }
</div>

@code {
    [Parameter] public Character SelectedCharacter { get; set; }

    private async Task SaveCharacterDetails()
    {
        if (SelectedCharacter != null)
        {
            await CharacterService.UpdateCharacterAsync(SelectedCharacter.MapToDTO());
        }
    }
}
