.main-layout {
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 10px;
}

.chapter-content {
    width: 75%;
    padding: 20px;
}
