/* /Layout/MainLayout.razor.rz.scp.css */
.main-layout[b-2509y6w3j5] {
    display: flex;
    height: 100vh;
}

.content[b-2509y6w3j5] {
    display: flex;
    width: 100%;
}

.sidebar[b-2509y6w3j5] {
    width: 25%;
    background-color: #f0f0f0;
    padding: 10px;
}

.chapter-content[b-2509y6w3j5] {
    width: 75%;
    padding: 20px;
}
